@charset "UTF-8";

@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

@import "~normalize-scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  position: relative;
  min-height: 100%;
}

/** override react-bootstrap font style in body **/
body {
  font-family: Lora, sans-serif;
  padding-top: 110px; /** https://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top **/
}

/** removed default css outline when selecting the item in the slide **/
.slick-slide {
  div:focus {
    outline: none;
  }
}
